
<div >
	<div class="pull-left tree-handle ng-scope angular-ui-tree-handle" ui-tree-handle="">
		<span class="glyphicon glyphicon-list"></span>
	</div>
	<div class="angular-ui-tree-content" ng-click="showContent(section)">
		<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)" >
			<span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
		</a>
		<span section-dblclick>
			<input ng-model="section.name" section-edit></input>
			<span data-nodrag section-info >
				{{ section.name }}
			</span>
		</span>
		<a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="removeSection(this)"><span class="glyphicon glyphicon-remove"></span></a>
		<a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="addSection(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
</div>
<ol ui-tree-nodes="" ng-model="section.children" ng-hide="collapsed">
	<li ng-repeat="section in section.children" ui-tree-node ng-include="'partials/subsection.html'">
	</li>
</ol>
